<div class="login-container">
    <h1 class="text-center text-3xl font-bold mb-6">Sign in to Your Account</h1>
    <a id="login-button" class="login-button d-flex" href="/auth/signin">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg" alt="Microsoft Logo">
        Login with Microsoft
    </a>
    <div class="powered-by">
        Powered by Vinicius Morais Dutra <br />
        v.{{git_hash}}
    </div>
</div>